<div ng-controller="ListCTL">
    <form id="searchForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Properties Report</h3>
            </div>
            <div class="panel-body">
                <a href="" ng-click="getProps(0)">this week</a> /
                <a href="" ng-click="getProps(1)">before</a> /
                <a href="" ng-click="getProps(2)">2 week ago</a> /
                <a href="" ng-click="getProps(3)">3 week ago</a> /
                <a href="" ng-click="getProps(4)">4 week ago</a> /
                <a href="" ng-click="getProps(5)">5 week ago</a> /
                <a href="" ng-click="getProps(6)">6 week ago</a> /
                <a href="" ng-click="getProps(7)">7 week ago</a> /
                <a href="" ng-click="getProps(8)">8 week ago</a>
            </div>
        </div>
    </form>
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
          <th>#</th>
          <th>Details</th>
          <th>Requirement</th>
          <th>Size</th>
          <th>Sell</th>
          <th>Rent</th>
          <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="prop in props">
          <td>{{prop.reference_id}}</td>
          <td>
              <div><strong>Project</strong>: <span>{{prop.project_name}}</span></div>
              <div ng-if="prop.address_no"><strong>Address no</strong>: <span>{{prop.address_no}}</span></div>
              <div ng-if="prop.floors"><strong>Floor</strong>: <span>{{prop.floors}}</span></div>
              <!-- <div><strong>Type</strong>: <span>{{prop.property_type_name}}</span></div> -->
              <div ng-if="prop.bedrooms"><strong>Bed room</strong>: <span>{{prop.bedrooms}}</span></div>
              <div ng-if="prop.bathrooms"><strong>Bath room</strong>: <span>{{prop.bathrooms}}</span></div>
              <!-- <div><strong>Transfer Status</strong>: <span>{{prop.property_status_name}}</span></div> -->
          </td>
          <td>{{prop.requirement_name}}</td>
          <td>{{prop.size}} {{prop.size_unit_name}}</td>
          <td><span ng-hide="!prop.sell_price">฿{{commaNumber(prop.sell_price)}}</span></td>
          <td><span ng-hide="!prop.rent_price">฿{{commaNumber(prop.rent_price)}}</span></td>
          <td>{{prop.property_status_name}}</td>
      </tr>
      </tbody>
    </table>
</div>
