<div ng-controller="ListCTL">
    <div>
        <form id="searchForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Enquiry Search</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="filterItems()">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Customer name</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Enquiry No.</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="form.id">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success" ng-click="filterEnquiries()">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div>
        <a href="#add" class="btn btn-primary">Add</a>
    </div>
    <div>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Requirement</th>
                <th>Property Type</th>

                <th>Developer</th>
                <th>Buying Budget</th>
                <th>Rental Budget</th>
                <th>Status</th>
                <th>Rating</th>

                <th>Update</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.property_type_code + item.id}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.customer_firstname + ' ' + item.customer_lastname}}</td>
                <td>{{item.requirement_type_name}}</td>
                <td>{{item.property_type_name}}</td>

                <td>{{item.developer_name}}</td>
                <td>{{item.buying_budget_start}}-{{item.buying_budget_end}}</td>
                <td>{{item.rental_budget_start}}-{{item.rental_budget_end}}</td>
                <td>{{item.enquiry_status.name}}</td>
                <td>{{item.rating}}</td>

                <td>{{item.updated_at}}</td>

                <td><a class="xcrud-action btn btn-danger btn-sm" ng-click="remove(item.id)"><i class="glyphicon glyphicon-remove"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
